html {
    width: 100%;
    height: 100%;
}

#form-container {
    width: 97vw;
    display: flex;
    justify-content: end;
    place-items: center;
}

#form-container > input {
    width: 30%;
}

#form-container > * :not(#errorDiv){
    margin: 5% 1% 5% 1%;
}

#title-container {
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
}

#todoList {
    width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
}

#todoList > * {
    margin-top: 5%;
    width: 70vw;
}

#todoList > table > tbody > tr:hover > td {
    background-color: beige !important;
}

.task-completed > td {
    background-color: rgb(183, 245, 183) !important;
}

.error-message {
    margin-top: 2%;
    width: 85%;
    color: red;
    font-weight: bold;
}

@media (max-width: 768px) {
    #todoList > * {
        margin-top: 10%;
        width: 90vw;
    }
    #form-container > :first-child{
        margin-right: 3%;
    }
    #form-container {
        margin-top: 5%;
    }
}